Creating airport table

In [1]:
import pandas as pd
import sqlalchemy
arrival_airport_icao=["EDDB", "EDDH", "EDDM"]
city=["Berlin", "Hamburg", "Munich"]
city_id=[1,2,3]
airports=pd.DataFrame({
    "city": city,
    "arrival_airport_icao" : arrival_airport_icao,
})
airports

      city arrival_airport_icao
0   Berlin                 EDDB
1  Hamburg                 EDDH
2   Munich                 EDDM

Creating a population table.

In [5]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import pymysql
from sqlalchemy import create_engine
url1 = "https://en.wikipedia.org/wiki/Berlin"
url2 = "https://en.wikipedia.org/wiki/Hamburg"
url3 = "https://en.wikipedia.org/wiki/Munich"
response1 = requests.get(url1)
response2 = requests.get(url2)
response3 = requests.get(url3)
soup1 = BeautifulSoup(response1.content, 'html.parser')
soup2 = BeautifulSoup(response2.content, 'html.parser')
soup3 = BeautifulSoup(response3.content, 'html.parser')
berlin_population=soup1.find(string=re.compile("Population")).find_next("td").get_text()
hamburg_population=soup2.find(string=re.compile("Population")).find_next("td").get_text()
munich_population=soup3.find(string=re.compile("Population")).find_next("td").get_text()

cities=["Berlin", "Hamburg", "Munich"]
population=[]
for city in cities:
    url=f"https://www.wikipedia.org/wiki/{city}"
    response=requests.get(url)
    city_soup=BeautifulSoup(response.content, "html.parser")
    
    city_population=city_soup.find(string=re.compile("Population")).find_next("td").get_text()
    city_population_clean=int(city_population.replace(",", ""))
    population.append(city_population_clean)
population

table_cities=pd.DataFrame({"City": cities, 
                           "Population": population
})

table_cities

      City  Population
0   Berlin     3850809
1  Hamburg     1945532
2   Munich     1512491